.header {
  display: flex;
  height: 80px;
  background-color: var(--color-theme);
  align-items: center;
  padding: 0 1rem;
}

.header__link {
  font-size: 20pt;
  font-weight: bold;
  text-decoration: none;
}

.header__link:hover {
  text-decoration: underline;
}
