.header {
  display: flex;
  height: 80px;
  background-color: var(--color-theme);
  align-items: center;
  padding: 0 1rem;
}

.header__link,
.header__link:hover {
  color: inherit;
}

.header__text {
  margin: 0;
}
